.magazineParent {
  margin: auto 0;
}

.magazineRead {
  width: 100%;

  img {
    width: 100%;
  }
}

.magazineText {
  width: 100%;
  height: 100%;
}

.productCardWrapper {
  display: inline-block;
  text-align: center;
}
