@use "common/styles/Theme";

.productDetail {
  width: 100%;
  height: 100%;

  font-family: Theme.$monospaceFont;
}

.separator {
  box-sizing: border-box;

  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  border-top: 1px solid #ababab;
}

.imageArea {
  width: 100%;
}

.box {
  box-sizing: border-box;

  width: 100%;
  padding: 0 20px;
}

.brandName {
  font-size: 12px;
  color: #6d6d6d;
}

.brandIcon {
  margin-left: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 14px;
}

.productName {
  font-size: 12px;
}

.star {
  &:not(:first-of-type) {
    margin-left: 2px;
  }
}

.reviewLink {
  margin-left: 10px;
  font-size: 10px;
  color: #aaaaaa;
}

.price {
  font-size: 14px;
}

.productInfoTitle {
  font-size: 11px;
  font-weight: 700;
}

.productInfo {
  font-size: 8px;

  ul {
    padding-left: 16px;
  }
}

.sampleImageButton {
  cursor: pointer;

  width: 100%;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.sampleImage {
  width: 100%;
}

.sampleImageViewer {
  width: 100%;
}

.reviewName {
  text-decoration: underline;

  margin-bottom: 9px;
  font-family: Theme.$monospaceFont;
  font-size: 32px;
  line-height: 42px;
}

.review {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 117px;
  margin-bottom: 9px;

  background-color: #ececec;
}

.reviewImage {
  object-fit: cover;

  height: 100%;
}

.reviewImageButton {
  cursor: pointer;

  padding: 0;
  background-color: transparent;
  border: 0;
}

.reviewContent {
  box-sizing: border-box;

  flex: 1;
  height: 100%;
  padding: 5px;
  font-family: Theme.$monospaceFont;
  font-size: 8px;
}

.reviewTitle {
  font-weight: bold;
}

.reviewDialogImage {
  width: 100%;
}

.reviewDialogMain {
  box-sizing: border-box;
  position: relative;

  width: 100%;
  min-height: 240px;
  margin-top: 16px;
  padding: 0 14px 16px 14px;
}

.reviewDialogTitle {
  margin-top: 11px;
  font-weight: 700;
  font-size: 14px;
  font-family: Theme.$monospaceFont;
  line-height: 14px;
}

.reviewDialogContent {
  width: 100%;
  margin-top: 8px;
  line-height: 13.2px;
  font-weight: 400;
  font-size: 10px;
  font-family: Theme.$monospaceFont;
}

.reviewDialogInfoBox {
  position: absolute;

  top: 0;
  right: 20px;
  width: 93px;
  height: 34px;
  padding-top: 7px;
  padding-left: 10px;
  background-color: Theme.$gray1;
  font-weight: 400;
  font-size: 8px;
  font-family: Theme.$monospaceFont;
}
